$primary-color : #d4af37;
$primary-color-dark : hsl(46, 65%, 40%);
$secondary-color : #ecf2f5;
$linear-gradient :linear-gradient(219deg, rgba(0, 239.70, 255, 0.80) 9%, rgba(83, 118, 255, 0.80) 43%, rgba(0, 12, 182, 0.80) 100%);
